@if (ViewBag.ContentType == "Image")
{
    @if (!string.IsNullOrEmpty(ViewBag.ContentUrl))
    {
        <pre>@ViewBag.Question</pre>
        <p></p>
        <style>
            .center {
                display: block;
                margin: auto;
            }
        </style>

        <img src="@ViewBag.ContentUrl" alt="My Image" class="center">
    }
    else
    {
        <p>No image found</p>
    }
}
else
{
    <p>Cine canta versurile:</p>
    <pre class="center">@ViewBag.Question</pre>
    <p></p>
}

<form asp-controller="Guess" asp-action="GuessAnswer" method="post" onsubmit="submitAnswer()">
    <div class="form-group">
        <label for="answer">Your answer:</label>
        <input type="text" class="form-control" id="answer" name="answer" required>
    </div>
    <input type="hidden" name="questionId" value="@ViewBag.QuestionId">
    <input type="hidden" name="score" value="@ViewBag.Score">
    <button type="submit" class="btn btn-primary" onclick="disableConfirmNavigation()">Submit</button>
</form>

@if (ViewBag.Alert == true)
{
    <script>
        if (confirm('Are you sure you want to do this?')) {
            //
        } else {
            //
        }
    </script>
    ViewBag.Alert = false;
}

<script>
    let confirmNavigation = true;

    window.addEventListener("beforeunload", function (event) {
        if (confirmNavigation) {
            event.preventDefault();
            event.returnValue = "";
        }
    });

    function disableConfirmNavigation() {
        confirmNavigation = false;
        window.removeEventListener("beforeunload");
    }

    // Call disableConfirmNavigation() when the user submits an answer
    function submitAnswer() {
        disableConfirmNavigation();
        window.history.pushState(null, "", window.location.href);
    }
</script>