@model GuessR.Models.FriendsViewModel
@using GuessR.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext databaseContext

@{
    ViewData["Title"] = "Players";
}

@{
    int totalPlayersCount = Model.friends!.Count;
}

<h1>Players</h1>
<hr />
<form asp-controller="Friend" asp-action="Index" method="get">
    <p><center>
        Search by username: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
        </center>
    </p>
</form>

<table class="table">
    <thead>
        <tr style="text-align: center; vertical-align: middle;">
            <th> @*pentru poza de profil*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.friends![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.friends![0].Rank)
            </th>
            <th>
                Total Games Played
            </th>
            <th>
                Score
            </th>
            <th>
                Success Rate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.friends!.OrderBy(f => f.Rank))
        {
            // Check if player is not an administrator
            var user = await UserManager.FindByIdAsync(item.UserId);
            if (user != null && !await UserManager.IsInRoleAsync(user, "Admin"))
            {
                if (item.Rank == 0)
                {
                    item.Rank = totalPlayersCount;

                    // Update the player in the database
                    await databaseContext.SaveChangesAsync();
                    // Refresh the page
                    <script>
                        window.location.reload();
                    </script>
                }
                <tr style="text-align: center; vertical-align: middle;">
                    <td>
                        @if (string.IsNullOrEmpty(@item.ImageUrl))
                        {
                            <img src="~/images/logo image.png" style="width:75px;height:75px;" />
                        }
                        else
                        {
                            <img src="~/images/@item.ImageUrl" style="width:75px;height:75px;" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPlayedGames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalScore)
                    </td>
                    <td>
                        @string.Format("{0:F1}%", item.SuccessPercentage)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>